.passport-score-container {
  // This makes the entire "box" (the li) clickable instead of a narrow area.
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
}

.passport-score-section {
  // This makes the entire "box" (the li) clickable instead of a narrow area.
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 1px;
  line-height: 0em;
}

.user-summary-passport-score-container {
  // This makes the entire "box" (the li) clickable instead of a narrow area.
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
